<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://caffe-manager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>caffe-manager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Caffe-Manager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Caffe-Manager</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CaffeModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:caffemanager-db.database.windows.net,1433;Initial Catalog=Caffe-Manager_db;User ID=caffemanager-dbuser@caffemanager-db;Password=Dbp@ssword" Name="Data Source=tcp:caffemanager-db.database.windows.net,1433;Initial Catalog=Caffe-Manager_db;User Id=caffemanager-dbuser@caffemanager-db;Password=Dbp@ssword;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CaffeManagerServer.CaffeModel, CaffeManagerServer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CaffeModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:caffemanager-db.database.windows.net,1433;Initial Catalog=Caffe-Manager_db;User Id=caffemanager-dbuser@caffemanager-db;Password=Dbp@ssword;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>